# Python Basics for Data Engineering

## print function

In [2]:
print("hello World")

hello world

In [7]:
print(5)        # integer
print('5')      # string
print(1+4)      # expression
print(1+4.0)    # float

5
5
5
5.0

## Data Type

In [9]:
a = 1                       # Number
a = 1.00                    # Float
b = 'Hello'                 # Stirng
c = True                    # Boolean
d = [1, 2, 3, 4]            # List
e = (1, 2, 3, 4)            # Tuple
f = {"a":1, "b":2, "c":3}   # Dictionary
g = {1, 2, 3, 4}            # Set

### List

In [10]:
ageList = [46, 16, 17, 30]
type(ageList)

list

In [12]:
ageList[0]

46

In [13]:
ageList[-1]

30

### Dictionary

In [14]:
myDict = {"a":1, "b":2, "c":3}
type(myDict)

dict

In [16]:
myDict["a"]

1

In [19]:
myDict = {"a":[11, 12, 13], "b":[21, 22, 23], "c":[31, 32, 33]}

In [21]:
myDict["a"][0]

11

In [22]:
myDict["a"][-1]

13

# Pandas

## Introduction To Pandas

### Instqallation of Pandas
```shell
pip install pandas
```

In [24]:
import pandas

mydataset = {'cars':['BMW', 'Volvo', 'Ford'], 'passings':[3, 7, 2]}

myvar = pandas.DataFrame(mydataset)
myvar

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

### Checking Pandas Version

In [25]:
import pandas as pd

print(pd.__version__)

2.0.3

## DataFrame Creation

### DataFrame from list

In [26]:
import pandas as pd

fruits_list = ['Apple', 10, 'Orange', 55.50]
fruits_list

['Apple', 10, 'Orange', 55.5]

In [28]:
fruits_df = pd.DataFrame(fruits_list)
fruits_df

        0
0   Apple
1      10
2  Orange
3    55.5

In [29]:
fruits_df = pd.DataFrame(fruits_list, index=['Fruit1', 'Fruit2', 'Fruit3', 'Fruit4'])
fruits_df

             0
Fruit1   Apple
Fruit2      10
Fruit3  Orange
Fruit4    55.5

In [30]:
fruits_df = pd.DataFrame(fruits_list, index=['R0', 'R1', 'R2', 'R3'], columns=["Fruit"])
fruits_df

     Fruit
R0   Apple
R1      10
R2  Orange
R3    55.5

### DataFrame from Series and Dict

In [33]:
import pandas as pd

student_dict = {"name": ["Joe", "Nat", "Harry"], "age":[20, 21, 19], "masks":[85.10, 77.80, 91.54]}
student_df = pd.DataFrame(student_dict)
student_df

    name  age  masks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54

In [34]:
student_df = pd.DataFrame(student_dict, index=['R0', 'R1', 'R2'])
student_df

     name  age  masks
R0    Joe   20  85.10
R1    Nat   21  77.80
R2  Harry   19  91.54

### DataFrame fromeCSV

In [35]:
import pandas as pd

df = pd.read_csv('mystudents.csv')
df

    Student ID    Name  Age   Score Grade       Province
0   5010110405    Jane   31   53.75     D        Songkla
1   5110110580     Joe   32   37.65     E        Bangkok
2   6310110042     Dan   19  ขาดสอบ   NaN      Chiangmai
3   6310110073    Tida   18      65    C+        Bangkok
4   6310110076    Jane   21      62     C           Yala
5   6310110092   Smile   20    60.5     C      Chiangrai
6   6310110107    Cole   18     NaN   NaN         Phuket
7   6310110109   Tommy   19   51.75     D        Bangkok
8   6310110145   Jerry   19   64.75     C            Nan
9   6310110147    Anna   18   28.25     E          Krabi
10  6310110150   Scott  -15    24.5     E      Ang Thong
11  6310110243     Utz   20   56.25    D+        Kalasin
12  6310110250    Rome   19   17.25     E   Kanchanaburi
13  6310110251   Ronda   18   59.63    D+        Lampang
14  6310110260   Wanda   21    54.5     D        Bangkok
15  6310110349    Nita   20   32.75     E   Mae Hong Son
16  6310110363    Nida   18      50     D           Loei
17  6310110383    Swat   19    88.5     A  Nakhon Pathom
18  6310110389     Tim   19   29.38     E        Bangkok
19  6310110401  Andrew   18   75.13     B        Bangkok